@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* theme */
:root {
    --primary-c: #E95A08;
    --solid-black-c: #000000;
    --solid-black-50: #8987A1;
}

/* layout */
html {
    font-size: 10px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.text-center {
    text-align: center;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/* reusable */
.anchor {
    text-decoration: none;
    color: var(--solid-black-50)
}

.hidden {
    display: none;
}

.list {
    list-style: none;
}

.overflow {
    overflow: hidden;
}

.primary-btn {
    padding: 19px 80px;
    background-color: var(--primary-c);
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* started styling to code for this website */
/* header section */

/* styling code for navbar */
.header {
    margin-bottom: 120px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 120px; */
    min-height: 20vh;
    position: relative;
    overflow: hidden;
}

.navbar ul {
    gap: 48px;
}

.navbar ul li {
    list-style: none;
}
.menu {
    text-decoration: none;
    /* color: #8987A1; */
    color: var(--solid-black-50);
    font-size: 1.6rem;
}

.navbar ul li:first-child a {
    font-weight: bold;
    color: var(--solid-black-c)
}

.navbar ul li:last-child a {
    color: var(--solid-black-c);
}

/* styling code for hero section */
.banner {
    justify-content: space-between;
    align-items: end;
    min-height: 60vh;
    position: relative;
    overflow: hidden;
}

.hero-title {
    font-size: 6.5rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.separate-color {
    color: var(--primary-c);
}

.hero-info {
    font-size: 2.2rem;
    color: var(--solid-black-50);
}

/* styling code for our plants section */
.our-plants {
    width: 85rem;
    margin-bottom: 5rem;
}

.plants-title {
    font-size: 5rem;
    font-weight: bold;
}

.plants-info {
    font-size: 2.2rem;
    color: var(--solid-black-50);
}
.loving-section {
    align-items: center;
    gap: 6rem;
    position: relative;
    margin-bottom: 13rem;
}
/* styling code for product section */
.product-blocks {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 2rem;
    margin-bottom: 21rem;
}

.product-img {
    width: 100%;
}

.product-title {
    font-size: 2.2rem;
    margin: 3rem 0 2.5rem 0;
}

.price {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.loving-title {
    font-size: 5rem;
    font-weight: bold;
    color: var(--solid-black-c);
    margin-bottom: 2rem;
}

.point-holder {
    margin-left: 4rem;
}

.points {
    font-size: 2.2rem;
    color: var(--solid-black-50);
    margin-bottom: 2rem;
}
.trusted-badge {
    width: 286px;
    position: absolute;
    left: 348px;
    top: -123px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
  
}